@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Inter */
body{
    background-color: rgb(7, 7, 7);
}
section{
    justify-content: center;
    text-align: center;
    width: 500px;
    margin: 110px auto;
    background: linear-gradient(0deg, rgb(34, 117, 195, 0.575) 0%, rgba(59, 45, 253, 0.575) 90%);
    border-radius: 50px;
    box-shadow: 0px 0px 15px rgba(34, 117, 195, 0.5);
    padding: 10px;
}

.emoji{
    margin: auto;
    width: 250px;
    height: 220px;
    background: url(../imagens/emoji/1.nuvens.png) center no-repeat;
    background-size: 260px;
}
.texto{
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: white;
}
